.input-group.input-group-custom:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3),
.input-group.input-group-custom:not(.has-validation)>.form-floating:not(:last-child)>.form-control,
.input-group.input-group-custom:not(.has-validation)>.form-floating:not(:last-child)>.form-select,
.input-group.input-group-custom:not(.has-validation)> :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
    border-top-right-radius: var(--bs-border-radius);
    border-bottom-right-radius: var(--bs-border-radius);
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 1rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    background-color: var(--bs-body-bg);
    padding: 0 1rem;
}

.cdk-drag-placeholder {
    opacity: 0.3;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cursor-grab {
    cursor: grab;

    &:active {
        cursor: grabbing;
    }
}