<nav class="navbar fixed-top navbar-expand-lg shadow bg-primary">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center gap-2" routerLink="dashboard">
      <div class="brand-icon-wrapper">
        <i class="bi bi-check2-square position-relative top-3px"></i>
      </div>
      <span class="brand-text fw-bold">{{appName}}</span>
    </a>

    <div class="d-flex align-items-center">
      <app-user-dropdown [dynamicClass]="'d-block d-md-block d-lg-none'"></app-user-dropdown>
      <div class="d-block d-md-block d-lg-none">
        <button type="button" class="btn btn-primary btn-sm pb-0" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation" (click)="collapseNavbar()">
          <!-- @if(navbarCollapsed) {
            <i class="bi bi-x-lg fs-4"></i>  
          } @else {
            <i class="bi bi-grid-fill fs-4"></i>
          } -->
          <i class="bi fs-4" [ngClass]="navbarCollapsed ? 'bi-x-lg' : 'bi-grid-fill'"></i>
        </button>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto my-2 my-lg-0 text-center text-lg-start">
        @for (item of navLinks; track $index) {
        <li class="nav-item my-1 my-lg-0 mx-lg-1">
          <a class="nav-link px-3 py-2 rounded-pill" [routerLink]="item?.path" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: item?.path === '/dashboard'}" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" (click)="collapseNavbar()">
            {{item?.label}}
          </a>
        </li>
        }
      </ul>
      <app-user-dropdown [dynamicClass]="'d-none d-md-none d-lg-block'"></app-user-dropdown>
    </div>
  </div>
</nav>





<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#LogoutStaticBackdrop">
  Launch static backdrop modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="LogoutStaticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="LogoutStaticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content rounded-4 border-0 shadow-lg">
      <div class="modal-header">
        <h1 class="modal-title fs-5 fw-bold" id="LogoutStaticBackdropLabel">Confirm Logout</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- <p class="mb-0">Are you sure you want to <strong>logout</strong>?</p> -->
         <p class="mb-0">Click <strong>"Logout"</strong> below if you are ready to end your current session. You will need to login again to access your account.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary rounded-pill px-4" data-bs-dismiss="modal"><i class="bi bi-x position-relative top-1px"></i> Cancel</button>
        <button type="button" class="btn btn-danger rounded-pill px-4 shadow-sm" (click)="logout()"><i class="bi bi-box-arrow-right position-relative top-1px"></i>
          Logout</button>
      </div>
    </div>
  </div>
</div>