<nav class="navbar fixed-top navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" routerLink="dashboard"><i class="bi bi-check2-square"></i> Checklist</a>

    <div class="d-flex align-items-center">
      <app-user-dropdown [dynamicClass]="'d-block d-md-block d-lg-none'"></app-user-dropdown>
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="d-block d-md-none">
        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="bi bi-grid-fill"></i>
        </button>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="dashboard" routerLinkActive="active" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="create-list" routerLinkActive="active" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent">Create List</a>
        </li>
      </ul>
      <app-user-dropdown [dynamicClass]="'d-none d-md-none d-lg-block'"></app-user-dropdown>
    </div>
  </div>
</nav>