<div [class]="`dropdown ${dynamicClass}`">
    <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{userDetails?.name?.split(' ')[0]}}
    </a>

    <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" routerLink="">Change Password</a></li>
        <!-- <li><a class="dropdown-item" routerLink="">Another action</a></li> -->
        <!-- <li><a class="dropdown-item" routerLink="">Something else here</a></li> -->
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item cursor-pointer" (click)="logout()">Logout</a></li>
    </ul>
</div>