<div class="container-fluid">
    <div class="row">
        <div class="col-12 p-0">
            <section class="page_404">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-sm-offset-1 text-center">
                            <div class="four_zero_four_bg">
                                <h1 class="text-center">404</h1>
                            </div>
                            <div class="contant_box_404">
                                <h3 class="h2"> Look like you're lost </h3>
                                <p>the page you are looking for not avaible!</p>
                                <div class="d-flex justify-content-center align-items-center">
                                    <a class="link_404 px-5 me-1 text-decoration-none cursor-pointer" (click)="back()">Go back</a>
                                    <a routerLink="/dashboard" class="link_404 px-5 ms-1 text-decoration-none cursor-pointer"
                                        >Go
                                        home</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>