<section class="user-list-section mt-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
            <h4 class="fw-bold mb-1">Users</h4>
            <p class="text-muted mb-0">Overview of users, joining dates, and their checklist counts.</p>
        </div>
    </div>

    @if(isLoading()) {
    <div class="text-center py-4">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    } @else {
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="card rounded-4 shadow h-100">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped mb-0">
                            <thead>
                                <tr>
                                    <th class="text-center">Sr.&nbsp;No.</th>
                                    <th style="min-width: 10rem;">Full&nbsp;Name</th>
                                    <th class="text-center">Joined&nbsp;Date</th>
                                    <th class="text-center">List&nbsp;Count</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users()">
                                    <td class="text-center">{{ users().indexOf(user) + 1 }}.</td>
                                    <td>
                                        <div style="min-width: 10rem;"
                                            class="fw-medium d-flex align-items-center">
                                            <img [src]="avatarService.getAvatar(user?.fullname)" class="me-2" />
                                            <span class="mb-0">{{ user?.fullname ||
                                                'Anonymous' }}</span>
                                        </div>
                                    </td>
                                    <td class="text-center">{{ user?.joinedDate ? (user.joinedDate | date:'mediumDate')
                                        : 'N/A' }}</td>
                                    <td class="text-center">{{ user?.totalChecklist ?? 0 }}</td>
                                </tr>
                                <tr *ngIf="!isLoading() && users().length === 0">
                                    <td class="text-center" colspan="4">No user found</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }

</section>