<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <button type="button" class="btn btn-link text-decoration-none" (click)="back()"><i
                    class="bi bi-arrow-left"></i> Back</button>
            <div class="card border-2 rounded-4 shadow mt-2 mb-4">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="mb-0">{{checklistDetails?.title}}</p>
                        <!-- <p class="mb-0">{{listItems.length}}</p> -->
                        <p class="mb-0">Total Items: <span
                                class="badge text-bg-primary">{{checklistDetails?.listItems?.length}}</span></p>
                    </div>
                </div>

                <div class="card-body">
                    <p class="text-muted mb-0">Created By : <span
                            class="text-dark">{{checklistDetails?.createdBy?.fullname}}</span>
                    </p>
                    <!-- <p class="text-muted mb-0">Created By : <span
                            class="text-dark">{{listService.getNameOfListCreated(checklistDetails?.createdBy)}}</span>
                    </p> -->
                    @if (!checklistDetails?.isFreeze) {
                    <div class="input-group mt-2">
                        <input type="text" class="form-control" #itemInputBox appCapitalizeFirst
                            placeholder="Enter Item" [(ngModel)]="newItemName" name="newItem">

                        <button class="btn btn-primary" (click)="addListItem()">
                            <i class="bi bi-plus-circle"></i> Add
                        </button>
                    </div>
                    }

                </div>
            </div>

            @for (item of checklistDetails?.listItems; track $index) {
            <div class="card border-2 rounded-4 shadow mb-2 border-0 border-5 border-start border-end"
                [ngClass]="item?.completed ? 'border-success' : 'border-danger'">
                <div class="card-header">
                    <!-- <p class="text-muted mb-0">Created By : <span
                            class="text-dark">{{listService.getNameOfListCreated(item?.createdBy)}}</span> -->
                    <!-- Item Created By: {{item?.createdBy?.fullname}} -->
                    <p class="text-muted mb-0">Created By : <span
                            class="text-dark">{{item?.createdBy?.fullname}}</span></p>
                </div>
                <div class="card-body py-2 d-flex justify-content-between align-items-center">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" [value]="item?._id" [id]="item?._id"
                            [checked]="item?.completed" [disabled]="checklistDetails?.isFreeze"
                            (change)="completeListItem(item?._id, $event)">
                        <label class="form-check-label" [for]="item?._id">
                            {{item.text}}
                        </label>
                    </div>
                    <button type="button" class="btn btn-danger btn-sm"
                        [disabled]="item?.completedBy?.fullname || checklistDetails?.isFreeze"
                        (click)="deleteItem(item?._id)"><i class="bi bi-trash3"></i></button>
                </div>
                <div class="card-footer">
                    <p class="text-muted mb-0">Completed By : <span
                            class="text-dark">{{item?.completedBy?.fullname}}</span></p>
                    <!-- <p class="text-muted mb-0">Completed By : <span
                            class="text-dark">{{listService.getNameOfListCreated(item?.completedBy)}}</span> -->
                </div>
            </div>
            }

            @if (!checklistDetails?.isFreeze && checklistDetails?.listItems?.length > 0) {
            <div class="text-center mt-5">
                <button type="button" class="btn btn-primary px-3" (click)="freezeChecklist()"><i
                        class="bi bi-check-lg"></i> Done</button>
            </div>
            }
        </div>
    </div>
</div>