<div class="container">
    <div class="row mb-2">
        <div class="col-md-7 col-lg-6 col-xl-5 mx-auto">
            <app-back-button></app-back-button>
            <h2 class="fw-bold mb-0">View Checklist {{checklistDetails?.isPrivate ? '(Private)' : ''}}</h2>
            @if (!checklistDetails?.isFreeze) {
            <p class="text-muted lead mt-2 mb-0">You can add items here until the list is complete.</p>
            }@else {
            <p class="text-muted lead mt-2 mb-0">The checklist is completed, now you can't modify the list.</p>
            }
        </div>
    </div>
    <div class="row">
        @if(checklistDetails) {
        <div class="col-md-7 col-lg-6 col-xl-5 mx-auto">
            <div class="card border-2 rounded-4 shadow mt-2 mb-4">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="d-flex align-items-center gap-2 text-truncate mb-0 fw-semibold">
                            @if(checklistDetails?.isPrivate) {
                            <i class="bi bi-lock-fill text-primary fs-5"></i>
                            } @else {
                            <i class="bi bi-globe2 text-primary fs-5 position-relative" style="top:2px"></i>
                            }
                            {{checklistDetails?.title}}
                        </p>

                        <!-- <p class="mb-0 fw-semibold">{{checklistDetails?.title}}</p> -->
                        <p class="mb-0">Total Items: <span
                                class="badge text-bg-primary">{{checklistDetails?.listItems?.length}}</span></p>
                    </div>
                </div>

                <div class="card-body">
                    <p class="mb-0">Created By : <span
                            class="fw-semibold">{{listService.getNameOfListCreated(checklistDetails?.createdBy)}}</span>
                    </p>
                    @if (!checklistDetails?.isFreeze) {
                    <div class="input-group mt-2">
                        <input type="text" class="form-control" #itemInputBox appCapitalizeFirst
                            placeholder="Enter Item" [(ngModel)]="newItemName" name="newItem">

                        <button class="btn btn-primary" (click)="addListItem()">
                            <i class="bi bi-plus-circle"></i> Add
                        </button>
                    </div>
                    } @else {
                    <p class="mb-0">Status : <span class="fw-semibold"
                            [ngClass]="checklistDetails?.isFreeze ? 'text-danger' : 'text-success'">{{checklistDetails?.isFreeze
                            ? 'Completed' : 'Active'}}</span></p>
                    }

                </div>
            </div>

            @for (item of checklistDetails?.listItems; track $index) {
            <div class="card border-2 rounded-4 shadow mb-3 border-0 border-5 border-start border-end"
                [ngClass]="item?.completed ? 'border-primary' : 'border-danger'">
                @if (!checklistDetails?.isPrivate) {
                <div class="card-header">
                    <p class="text-muted mb-0">Created By : <span
                            class="fw-semibold">{{listService.getNameOfListCreated(item?.createdBy)}}</span>
                    </p>
                </div>
                }
                <div class="card-body py-2 d-flex justify-content-between align-items-center">
                    <div class="form-check w-75">
                        <input class="form-check-input" type="checkbox" [value]="item?._id" [id]="item?._id"
                            [checked]="item?.completed" [disabled]="checklistDetails?.isFreeze"
                            (change)="completeListItem(item?._id, $event)">
                        <label class="form-check-label" [for]="item?._id">
                            {{item.text}}
                        </label>
                    </div>
                    <button type="button" class="btn btn-danger btn-sm" (click)="deleteItem(item?._id)"
                        [disabled]="checklistDetails?.isFreeze"><i class="bi bi-trash3"></i></button>
                </div>
                @if (!checklistDetails?.isPrivate) {
                <div class="card-footer">
                    <p class="text-muted mb-0">Completed By : <span
                            class="fw-semibold">{{listService.getNameOfListCreated(item?.completedBy)}}</span>
                    </p>
                </div>
                }
            </div>
            }

            @if (checklistDetails?.listItems?.length > 0) {
            <div class="card border-2 rounded-4 shadow border-0 border-5 border-top border-primary mt-4">
                <div class="card-header">Items Summary</div>
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="mb-0">Total: <span class="badge text-bg-primary">{{checklistDetails?.totalItems
                                || 0}}</span></p>
                        <p class="mb-0">Completed: <span
                                class="badge text-bg-success">{{checklistDetails?.completedItems ||
                                0}}</span></p>
                        <p class="mb-0">Pending: <span class="badge text-bg-danger">{{checklistDetails?.pendingItems ||
                                0}}</span></p>
                    </div>
                </div>
            </div>
            }

            @if (!checklistDetails?.isFreeze && checklistDetails?.listItems?.length > 0) {
            @if(listService.getNameOfListCreated(checklistDetails?.createdBy) === 'You') {
            <div class="text-center mt-5">
                <button type="button" class="btn btn-primary px-3" (click)="openModal(checklistDetails)"><i
                        class="bi bi-check-lg"></i> Complete List</button>
            </div>
            }
            }

            @if (checklistDetails?.listItems?.length > 0) {
            <div class="mt-4">
                <app-back-button></app-back-button>
            </div>
            }
        </div>
        } @else {
        <div class="col-md-7 col-lg-6 col-xl-5 mx-auto">
            <app-not-found-card></app-not-found-card>
        </div>
        }
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content rounded-4">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Complete Checklist</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to complete <strong>{{deleteDetails?.title}}</strong> checklist?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()"><i
                        class="bi bi-x"></i> Close</button>
                <button type="button" class="btn btn-primary" (click)="freezeChecklist()"><i class="bi bi-check-lg"></i>
                    Complete</button>
            </div>
        </div>
    </div>
</div>